<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.easyway.review">
    //链接网络的权限
    <uses-permission android:name="android.permission.INTERNET" />
    //震动权限
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.hanks.frame.base.HjjApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".module.ndk.NDKActivity" />
        <activity android:name=".module.recycleview.RecycleViewActivity" />
        <activity android:name=".module.recycleview.MeiziDetialActivity" />
        <activity android:name=".module.VibrationVoiceActivity" />
        <activity android:name=".module.dispatchTouchEvent.DispatchActivity" />

        <service
            android:name=".module.service.AidlService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="aaa-service" />
            </intent-filter>
        </service>

        <activity android:name=".module.service.AidlActivity" />
        <activity android:name=".module.service.BindServiceActivity" />
        <activity android:name=".module.service.BindService2Activity" />

        <service
            android:name=".module.service.BindService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".module.view.CustomerViewActivity" />
        <activity android:name=".module.patter.mvc.normal.NormalActivity" />
        <activity android:name=".module.patter.mvc.normal.MvcActivity" />
        <activity android:name=".module.patter.mvp.MVPActivity" />
        <activity android:name=".module.patter.mvvmdemo.MVVMDemoActivity" />
        <activity android:name=".module.patter.mvvm.MVVMActivity"></activity>
    </application>

</manifest>